body{
  text-align: center;
}

.btn{
  height: 200px;
  width: 200px;
  border-radius: 20%;
  border: 10px solid black;
  margin: 2.5rem;
}

.btn_container{
  display: flex;
  justify-content: center;
}
.green{
  background-color: aquamarine;
}
.red{
  background-color: rgb(41, 66, 206);
}
.yellow{
  background-color: rgb(229, 255, 83);
}
.purple{
  background-color: darkmagenta;
}
.flash{
  background-color: white;
}
.userflash{
  background-color: chartreuse;
}